/* Technaturally.com/style/style.css

Stylesheet for Technaturally.com

Author: Pat Long
Date: 2018/01/14

License: CC-BY-SA-4.0
*/
@import 'mixins';

$border-style: 1px solid #999;
$border-radius: 3px;
@mixin default-border() {
	border: $border-style;
	@include border-radius($border-radius);
}

* {
	box-sizing: border-box;
}
body {
	cursor: crosshair;
	position: relative;
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	color: #555;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Arima Madurai', sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	font-style: italic;
}
h1 {
	margin-bottom: 0.33em;
}
p {
	margin-bottom: 1.25em;
	padding-left: 10px;
}
blockquote {
	font-family: 'Oregano', cursive;
}

a {
	&,
	&:link,
	&:visited {
		color: #656637;
	}
	&:hover,
	&:active,
	&:focus {
		color: #76A04D;
	}
}
a.special {
	&,
	&:link,
	&:visited {
		color: #E15E35;
	}
	&:hover,
	&:active,
	&:focus {
		color: #FF9740;
	}
}

form {
	display: inline-block;
	line-height: 1.0em;
	margin-bottom: 25px;

	label {
		display: inline-block;
		text-align: right;
		min-width: 92px;
	}

	input,
	textarea,
	button {
		font-size: 0.9em;
		background-color: #FFFFFF;
		@include default-border();
	}

	input[type="text"],
	textarea {
		width: 200px;
	}
	input,
	button {
		padding: 4px 8px 5px;
		
	}
	textarea {
		resize: none;
		padding: 6px 8px;
	}
	button {
	}

	.field {
		width: 100%;
		margin-bottom: 0.75em;
		&.multiline {
			label {
				vertical-align: top;
				padding-top: 6px;
			}
		}
		&.required {
			> label {
				&:before {
					content: '*';
					margin-right: 2px;
				}
			}		
		}
	}
	.controls {
		text-align: center;
	}
}

#background {
	z-index: 0;
}
#background #grid {
	z-index: 1;
}
#background #blocks {
	z-index: 2;
}
#background #blocks .block {
	z-index: 3;
}
#main {
	z-index: 10;
}

#background {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	& #grid,
	& #blocks {
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
	}
	& .block {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 25px;
		height: 25px;
		border: 3px solid #AAA;
		border-width: 3px 0 0 3px;
		opacity: 0.8;
		border-radius: 0;
	}
	& .block:first-child {
		top: 50%;
		left: 75%;
	}
	& .block {
		&.tracer-1,
		&.tracer-2 {
			opacity: 0.25;
		}
		&.tracer-1 {
		}
		&.tracer-2 {
		}
	}
}
#main {
	position: relative;

	> header,
	> section,
	> footer {
		display: block;
		padding: 25px 20px 10px;
	}
	> section {
		min-height: 180px;
		text-align: center;
		> .content {
			display: inline-block;
			padding: 20px 35px 25px;
		}
	}
}

header {
	color: #666;

	.name {
		display: block;
		margin: 0 auto;
		height: 275px;
		width: 95%;
		max-width: 480px;
		text-indent: -9999px;
		background-image: url('/img/technaturally-logo.png');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	.headline {
		text-align: center;
		margin-top: 36px;
	}
	img.logo {
		display: none;
		visibility: hidden;
	}
}

section {
	.content {
		background-color: #FFF;
		background-color: rgba(255, 255, 255, 0.8);
		@include default-border();
		h3 {
			margin-bottom: 0.5em;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		.instructions {
			text-align: right;
			font-style: italic;
			font-size: 0.85em;
			color: #888;
			margin-top: -8px;
		}
	}

	.contact {
		text-align: center;

		form {
			.field-email {
				margin-bottom: 1.1em;
			}
		}

		p.email {
			font-size: 1.25em;
		}
	}
}

footer {
	text-align: center;

	.slogan {
		float: right;
	}
	.copyright {
		float: left;
	}
}

@media only screen and (min-width: 500px) {
	#main {
		> header,
		> section,
		> footer {
			padding: 25px 50px 10px;
		}
	}

	header {
		.headline {
			text-align: right;
		}
	}
}
@media only screen and (max-width: 499px) {
	form {
		width: 100%;
		.field {
			margin-bottom: 1.25em;
		}
		label {
			text-align: left;
			margin-bottom: 5px;
			&,
			& + * {
				display: block;
				width: 100%;
			}
		}
		textarea,
		input[type="text"] {
			width: 100%;
		}
	}
	section {
		.content {
			.instructions {
				margin-top: 0;
				margin-bottom: 1.0em;
			}
		}
		.contact {
			form {
				.field-email {
					margin-bottom: 1.25em;
				}
			}
		}
	}
}

@media only screen and (max-width: 399px) {
	body {
		font-size: 85%;
	}
}
