/* Technaturally.com/style/style.css

Stylesheet for Technaturally.com

Author: Pat Long
Date: 2018/01/14

License: CC-BY-SA-4.0
*/
* {
  box-sizing: border-box; }

body {
  cursor: crosshair;
  position: relative;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  color: #555; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arima Madurai', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-style: italic; }

h1 {
  margin-bottom: 0.33em; }

p {
  margin-bottom: 1.25em;
  padding-left: 10px; }

blockquote {
  font-family: 'Oregano', cursive; }

a {
  cursor: pointer; }
  a, a:link, a:visited {
    color: #656637; }
  a:hover, a:active, a:focus {
    color: #76A04D; }

a.special, a.special:link, a.special:visited {
  color: #E15E35; }
a.special:hover, a.special:active, a.special:focus {
  color: #FF9740; }

form {
  display: inline-block;
  line-height: 1.0em;
  margin-bottom: 25px; }
  form label {
    display: inline-block;
    text-align: right;
    min-width: 92px; }
  form input,
  form textarea,
  form button {
    font-size: 0.9em;
    background-color: #FFFFFF;
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  form input[type="text"],
  form textarea {
    width: 200px; }
  form input,
  form button {
    padding: 4px 8px 5px; }
  form textarea {
    resize: none;
    padding: 6px 8px; }
  form button {
    cursor: pointer; }
    form button:disabled {
      cursor: not-allowed; }
  form .field {
    width: 100%;
    margin-bottom: 0.75em; }
    form .field.multiline label {
      vertical-align: top;
      padding-top: 6px; }
    form .field.required > label:before {
      content: '*';
      margin-right: 2px; }
  form .controls {
    text-align: center; }
  form.processing button[type="submit"]:disabled {
    cursor: progress; }

#background {
  z-index: 0; }

#background #grid {
  z-index: 1; }

#background #blocks {
  z-index: 2; }

#background #blocks .block {
  z-index: 3; }

#main {
  z-index: 10; }

#background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  #background #grid, #background #blocks {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  #background .block {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border: 3px solid #AAA;
    border-width: 3px 0 0 3px;
    opacity: 0.8;
    border-radius: 0; }
  #background .block:first-child {
    top: 50%;
    left: 75%; }
  #background .block.tracer-1, #background .block.tracer-2 {
    opacity: 0.25; }

#main {
  position: relative; }
  #main > header,
  #main > section,
  #main > footer {
    display: block;
    padding: 25px 20px 10px; }
  #main > section {
    min-height: 180px;
    text-align: center; }
    #main > section > .content {
      display: inline-block;
      padding: 20px 35px 25px; }

header {
  color: #666; }
  header .name {
    display: block;
    margin: 0 auto;
    height: 275px;
    width: 95%;
    max-width: 480px;
    text-indent: -9999px;
    background-image: url("/img/technaturally-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  header .headline {
    text-align: center;
    margin-top: 36px; }
  header img.logo {
    display: none;
    visibility: hidden; }

section .content {
  background-color: #FFF;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  section .content h3 {
    margin-bottom: 0.5em; }
  section .content > *:last-child {
    margin-bottom: 0; }
  section .content .instructions {
    text-align: right;
    font-style: italic;
    font-size: 0.85em;
    color: #888;
    margin-top: -8px; }
section .contact {
  text-align: center; }
  section .contact form .field-email {
    margin-bottom: 1.1em; }
  section .contact p.email {
    font-size: 1.25em; }

footer {
  text-align: center; }
  footer .slogan {
    float: right; }
  footer .copyright {
    float: left; }

@media only screen and (min-width: 500px) {
  #main > header,
  #main > section,
  #main > footer {
    padding: 25px 50px 10px; }

  header .headline {
    text-align: right; } }
@media only screen and (max-width: 499px) {
  form {
    width: 100%; }
    form .field {
      margin-bottom: 1.25em; }
    form label {
      text-align: left;
      margin-bottom: 5px; }
      form label, form label + * {
        display: block;
        width: 100%; }
    form textarea,
    form input[type="text"] {
      width: 100%; }

  section .content .instructions {
    margin-top: 0;
    margin-bottom: 1.0em; }
  section .contact form .field-email {
    margin-bottom: 1.25em; } }
@media only screen and (max-width: 399px) {
  body {
    font-size: 85%; } }

/*# sourceMappingURL=style.css.map */
